
.SideIcons{
    width: 50px;
    height: 270px;
    position: fixed;
    top: 180px;
    z-index: 3;
}

.SideIcons .btn1{
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 40px;
    margin: 10px 0px 0px 5px;
    border-radius: 10px;
    position: relative;
    line-height: 38px;
    z-index: 0;
}

.SideIcons .btn1 ion-icon{
    font-size: 30px;
    vertical-align: middle;
    margin-left: 5px;
}

.SideIcons .btn1 ion-icon {
    color: var(--color);
}

/* bg before  */

.SideIcons .btn1::before{
    top: 0;
    display: none;
    width: 92px;
    height: 40px;
    border-radius: 0 10px 10px 0px;
    font-size: large;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    padding-left: 6px;
    z-index: -1;
}

.SideIcons #btn1::before{
    content: "Facebook";
    position: absolute;
    background-color: #4267B2;
}

.SideIcons #btn2::before{
    content: "Twitter";
    position: absolute;
    background-color: #3CF;
}

.SideIcons #btn3::before{
    content: "Youtube";
    position: absolute;
    background-color: #f83117;
}

.SideIcons #btn4::before{
    content: "Github";
    position: absolute;
    background-color: #333;
}

.SideIcons #btn5::before{
    content: "Linkedin";
    position: absolute;
    background-color: #0e76a8;
}

.SideIcons .btn1:hover::before{
    display: block;
    animation-name: example;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}



@keyframes example {
    from{
        margin-left: 15px;
    }
    to{
        margin-left: 33px;
    }
}

.SideIcons .btn1 .btnD1{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.SideIcons .btn1 .btnD2::before {
    content: '';
    position: absolute;
    width: 160%;
    height: 160%;
    background-color: var(--color);
    transform: rotate(55deg);

}

.SideIcons .btn1 .btnD2:before {
    top: 105%;
    left: 0%;
}

.SideIcons .btn1 .btnD2:hover:before
 {
    top: 0%;
    left: 0%;
}

.SideIcons .btn1 .btnD2:hover ion-icon {
    color: #fff;
    transform: scale(0.7);
}

.SideIcons .btn1,
.SideIcons .btn1:before,
.SideIcons .btn1 ion-icon {
    transition: all 0.35s;
    transition-timing-function: 
      cubic-bezier(0.31, -0.105, 0.43, 1.59);
}